<!DOCTYPE html>
<html>
<head>
    <style>
        
        .hehe:hover {
            background-color: rgb(64, 62, 60);
            box-shadow: 0 0 10px rgb(64, 62, 60);
        }

        .box:hover {
            background-color: rgb(51, 38, 7);
        }

        .mi:hover {
            transform: scale(1.02);
        }

        .n:hover {
            background-color: darkgoldenrod;
        }

        .bgimage {
            height: 100vh;
            background: url('images/heroImage.jpeg');
            background-size: cover;
            position: relative;
        }

        .hero_title {
            font-size: 4.5rem;
            margin-top: 50px;
        }

        .hero_desc {
            font-size: 2rem;
        }

        .hero-text {
            text-align: center;
            position: absolute;
            top: 48%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }

        .typing-effect {
            overflow: hidden;
            border-right: 0.2px solid darkgoldenrod; 
            width: 0.2em;
           

            font-size: 20px;
            
            /* align-items: center; */
            white-space: nowrap;
            /* display: inline-flex; */
            align-items: baseline;
            /* vertical-align: middle; */
            
            /* margin:  auto; */
            letter-spacing: unset;
            animation: typing 4s steps(40) 2s forwards  ;
            animation-delay: 1s;
            }

     


        @keyframes typing {
            from {
                width: 0%;
            }
            to {
                width: 57%;
            }
        }
    </style>
</head>

</html>
